main {
  padding: 5vw;
}

p {
  font-size: 16pt;
}

.companies {
  display: flex;
  flex-wrap: wrap;
}

.company {
  display: flex;
  flex: 1;
  align-items: center;

  border: 2px solid #EEE;
  border-radius: 5px;
  box-sizing: border-box;

  min-width: 350px;
  width: 25vw;
  margin-top: 3vh;
  margin-right: 3vw;
  padding: 2vw;
}

.company .image {
  max-height: 100px;
  min-height: 50px;
  height: 5vw;
  width: auto;
}

.company .name {
  flex: 1;
  text-align: center;

  font-size: 18pt;
  color: black;
}

a {
  text-decoration: none;
}

.subcompanies {
  display: flex;
  flex-wrap: wrap;
}

.subcompany {
  display: flex;
  flex-direction: column;
  flex: 1;

  width: 28vw;
  margin-right: 2vw;
  margin-bottom: 2vw;
  
  box-sizing: border-box;
  border: 2px solid #EEE;
  border-radius: 5px;
}


.subcompany .top {
  flex: 1;
  text-align: center;
}

#image-container {
  height: 100px;
  width: 100px;
  margin: auto;
}

#image-container img {
  display: block;
  width: 100%;
  height: auto;

  margin: 5vh auto;
}

.subcompany .bottom {
  flex: 1;
  display: flex;
  box-sizing: content-box;
  margin: 10px;
  padding-top: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #EEE;
  height: 100%;
}

.tag {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: white;

  padding: 10px 20px;
  width: auto;
  height: 20px;
  margin: 5px;
  border-radius: 50px;
  font-size: 12px;
}

.tag .label {
  font-size: 9px;
}

a {
  color: black;
}

.companyHeader {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.companyHeader img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  display: inline-block;
}

.companyHeader h2 {
  display: inline-block;
}

.footer {
  text-align: center;
  padding: 5%;
  font-family: monospace;
  font-size: 12pt;
  line-height: 3.5ch
}

@media only screen and (min-device-width : 300px) and (max-device-width : 766px) {
  body {
    padding: 15px;
  }

  .subcompany {
    width: 100%;
  }

  .company {
    width: 85vw;
    min-width: 250px;
  }
}
