main {
  padding: 5vw;
}

.companies {
  display: flex;
  flex-wrap: wrap;
}

.company {
  display: flex;
  flex: 1;
  align-items: center;

  border: 2px solid #EEE;
  border-radius: 5px;
  box-sizing: border-box;

  min-width: 350px;
  width: 25vw;
  margin-top: 3vh;
  margin-right: 3vw;
  padding: 2vw;
}

.company .image {
  max-height: 100px;
  min-height: 50px;
  height: 5vw;
  width: auto;
}

.company .name {
  flex: 1;
  text-align: center;

  font-size: 18pt;
  color: black;
}

a {
  text-decoration: none;
}

.subcompanies {
  display: flex;
  flex-wrap: wrap;
}

.subcompany {
  display: flex;
  flex-direction: column;

  width: 25vw;
  margin-right: 2vw;
  margin-bottom: 2vw;
  
  box-sizing: border-box;
  border: 2px solid #EEE;
  border-radius: 5px;
}


.subcompany .top {
  flex: 1;
  text-align: center;
}

.subcompany .top img {
  display: block;
  width: 50px;
  height: auto;

  margin: 5vh auto;
}

.subcompany .bottom {
  flex: 1;
  display: flex;
  box-sizing: content-box;
  margin: 10px;
  padding-top: 10px;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 2px solid #EEE;
}

.tag {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: white;

  padding: 10px 20px;
  width: auto;
  height: 20px;
  margin: 5px;
  border-radius: 50px;
  font-size: 12px;
}

.tag .label {
  font-size: 9px;
}
